<h1>Hello MakersBnB!</h1>

<h3>Spaces</h3>

<%if current_user %>
  <form action='/spaces/new'>
  <input type='submit' value='List New Space'>
  </form>
<% end %>

<form action='/spaces/new' method="post">
  <label>Search availability by date:
    <input type='date' name='selected_date'>
  </label>
</form>

<ul id="spaces">
  <% @spaces.each do |space| %>
    <li>
      Title: <%= space.title %><br />
      Description: <%= space.description %></br>
      Price per Night: <%= space.price %></br>

      Available from <%= space.start_date.strftime("%d/%m/%Y") %> to <%= space.end_date.strftime("%d/%m/%Y") %>

      <% if current_user %>
        <% if space.user_id != current_user.id %>
          <a href="/spaces/<%=space.id%>">Book</a>
        <% else %>
          <p> This is your space! </p>
        <% end %>
      <% end %>

    </li>
  <% end %>
</ul>
