<h1>Hello MakersBnB!</h1>

<h3>Spaces</h3>

<%if current_user %>
  <form action='/spaces/new'>
  <input type='submit' value='List New Space'>
  </form>
<% end %>

<form action='/spaces'>
  <label>Search availability by date:
    <input type='date' name='selected_date'>
  </label>
    <input type='submit' value='submit_date'>
</form>

<ul id="spaces">
  <% if @selected_date%>
    <% @spaces.each do |space| %>
        <% unless booked_dates(space).include? @selected_date %>
          <li>
            Title: <%= space.title %><br />
            Description: <%= space.description %></br>
            Price per Night: <%= space.price %></br>
            Available from <%= space.start_date.strftime("%d/%m/%Y") %> to <%= space.end_date.strftime("%d/%m/%Y") %>
          </li>
        <% end %>
    <% end %>
  <%else%>
    <% @spaces.each do |space| %>
      <li>
        Title: <%= space.title %><br />
        Description: <%= space.description %></br>
        Price per Night: <%= space.price %></br>
        Available from <%= space.start_date.strftime("%d/%m/%Y") %> to <%= space.end_date.strftime("%d/%m/%Y") %>
      </li>

    <% if current_user %>
        <% if space.user_id != current_user.id %>
              <a href="/spaces/<%=space.id%>">Book</a>
        <% else %>
              <p> This is your space! </p>
        <% end %>
    <% end %>
  <%end%>
<%end%>

</ul>
