
<div  class="text-center">
<h3><%= @space.title %></h3>

<p><%= @space.description %></p>
<p><b>Price per night:</b> £<%= @space.price %></p>

<p> <b>Available from</b> <%= date_to_string(@space.start_date) %> <b>to</b> <%= date_to_string(@space.end_date) %></p>
<div> <b>Unavailable on:</b>
    <div id="booked_dates">
      <% @space.unavailable_dates.length > 0 %>
        <% @space.unavailable_dates.each do |date| %>
          <div> <%= date_to_string(date) %>         </div>

        <% end %>
      <% end %>
    </div>
</div>
<div>
  <img class="space_page_image" src="http://lorempixel.com/output/nature-q-c-640-480-<%= @space.id % 8 + 1 %>.jpg">
</div>
<p><b>Tags:</b></p><br>
  <div>
    <% @tags.each do |tag| %>
      <% if tag.space_id == @space.id and tag.name %>
        <div> <%= tag.name %> </div>
      <% end %>
    <% end %>
  </div>



<form action="/requests" method="post" class="big_box text-center">
<textarea cols="50" rows="4" name="text"></textarea><br>
<label>
  Enter a date for your stay:
</label>
<input type="date" name="date"><br>
<input type= "submit" value= "Request to Book" name="booking">
</form>
