<h1><%= @space.title %></h1>

<p><%= @space.description %></p>
<p>Price per night: <%= @space.price %></p>

<p> Available from: <%= @space.start_date.strftime("%d/%m/%Y") %> to: <%= @space.end_date.strftime("%d/%m/%Y") %></p>


<form action='/requests' method='post'>
<textarea cols="50" rows="4" name='text'></textarea><br>
<label>
  Enter a date for your stay:
</label>
<input type='date' name='date'><br>
<input type= 'submit' value= 'Request to Book' name='booking'>
</form>
