<h1><%= @space.title %></h1>

<p><%= @space.description %></p>
<p>Price per night: <%= @space.price %></p>

<p> Available from: <%= date_to_string(@space.start_date) %> to: <%= date_to_string(@space.end_date) %></p>
<p> Unavailable on:
    <ul id="booked_dates">
      <% if @space.unavailable_dates.length > 0 %>
        <% @space.unavailable_dates.each do |date| %>
          <li> <%= date_to_string(date) %>
          </li>
        <% end %>
      <% end %>
</p>



<form action='/requests' method='post'>
<textarea cols="50" rows="4" name='text'></textarea><br>
<label>
  Enter a date for your stay:
</label>
<input type='date' name='date'><br>
<input type= 'submit' value= 'Request to Book' name='booking'>
</form>
