<h1><%= @space.title %></h1>

<p><%= @space.description %></p>
<p>Price per night: <%= @space.price %></p>

<p> Available from: <%= @space.start_date.strftime("%d/%m/%Y") %> to: <%= @space.end_date.strftime("%d/%m/%Y") %></p>
<p> Unavailable on:
    <ul id="booked_dates">
      <% if @unavailable_dates %>
        <% @unavailable_dates.each do |booking| %>
          <li> <%= booking.date.strftime("%d/%m/%Y") %>
          </li>
        <% end %>
      <% end %>
</p>
<p><b>Tags:</b></p><br><ul class="tag">
    <% @tags.each do |tag| %>
      <% if tag.space_id == @space.id and tag.name %>
        <li> <%= tag.name %> </li>
      <% end %>
    <% end %>
  </ul>



<form action='/requests' method='post'>
<textarea cols="50" rows="4" name='text'></textarea><br>
<label>
  Enter a date for your stay:
</label>
<input type='date' name='date'><br>
<input type= 'submit' value= 'Request to Book' name='booking'>
</form>
