<div class="container-fluid">
  <h1 class="text-center">Book a space</h1>

  <h4 class="text-center">Pick up a space from our awesome selection of spaces, and book it! We will send your request to the host, and he will confirm your request, or deny it.</h4>

  <%if current_user %>
    <form action="/spaces/new" class="text-center">
      <input class="list_a_space link_button" type="submit" value="List New Space">
    </form>
  <% end %>

  <form action="/spaces" class="form_box text-center">
    <label>Search availability by date:
      <input type="date" name="selected_date">
    </label>
      <input type="submit" value="Submit date">
  </form>

  <div class="row listings" id="spaces">
      <% if @selected_date%>
        <% @spaces.each do |space| %>
            <% unless booked_dates(space).include? @selected_date %>
            <div class="col-xs-6 col-sm-4">
              <div class="listing text-center">
                <p><b>Title:</b> <%= space.title %><br />
                <b>Description:</b> <%= space.description %><br />
                <b>Price per Night:</b> £<%= space.price %><br />
                <b>Available from</b> <%= space.start_date.strftime("%d/%m/%Y") %> to <%= space.end_date.strftime("%d/%m/%Y") %>
                <br></p>
                  <div>
                    <img src="http://lorempixel.com/output/nature-q-c-640-480-<%= space.id % 8 + 1 %>.jpg">
                  </div>
                <br>
                <% if current_user %>
                    <% if space.user_id != current_user.id %>
                          <a href="/spaces/<%=space.id%>">Book</a>
                    <% else %>
                          <p> This is your space! </p>
                    <% end %>
                <% end %>
                <% if current_user %>
                    <% if space.user_id != current_user.id %>
                          <a href="/spaces/<%=space.id%>">Book</a>
                    <% else %>
                          <p> This is your space! </p>
                    <% end %>
                <% end %>
              </div>
            </div>
            <% end %>
        <% end %>
      <%else%>
        <% @spaces.each do |space| %>
        <div class="col-xs-6 col-sm-4">
          <div class="listing text-center">
            <p><b>Title:</b> <%= space.title %><br />
            <b>Description:</b> <%= space.description %><br />
            <b>Price per Night:</b> £<%= space.price %><br />
            <b>Available from</b> <%= space.start_date.strftime("%d/%m/%Y") %> to <%= space.end_date.strftime("%d/%m/%Y") %>
            <br></p>
              <div>
                <img src="http://lorempixel.com/output/nature-q-c-640-480-<%= space.id % 8 + 1 %>.jpg">
              </div>
              <br />
            <% if current_user %>
                <% if space.user_id != current_user.id %>
                      <a class="link_button" href="/spaces/<%=space.id%>">Book</a>
                <% else %>
                      <p><b> This is your space! </b></p>
                <% end %>
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
