<header>
  <a href='/spaces'>Spaces</a>
  <a href='/requests'>Requests</a>
  <a href='/signout'>Sign Out</a>
</header>

<h1><%= @space.title %></h1>

<p><%= @space.description %></p>
<p>Price per night: <%= @space.price %></p>
<p> Available from: <%= @space.start_date.strftime("%d/%m/%Y") %> to: <%= @space.end_date.strftime("%d/%m/%Y") %></p>

<form action='/requests' method='post'>
<textarea cols="50" rows="4" name='text'></textarea>
<input type= 'submit' value= 'Request to Book' name='booking'>
</form>
